<p style="color: green"><%= notice %></p>

<% content_for :title, "Workouts" %>

<h1>Workouts</h1>
<%= form_with url: workouts_path, method: :get, local: true do |f| %>
  <%= f.text_field :query, placeholder: "Enter the title and description" %>
  <%= f.submit "Search" %>
<% end %>
<div id="workouts">
  <% @workouts.each do |workout| %>
    <%= render workout %>
    <p>
      <%= link_to "Show this workout", workout %>
    </p>
  <% end %>
</div>

<%= link_to "New workout", new_workout_path %> | 
<%= link_to "Download All", download_workouts_workouts_path %>